#book{
    display:flex;
    justify-content: space-around;
    align-items:center;
    /* gap:2vw; */
    flex-wrap:wrap;

}

#book .startup{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 10vh;
}

#book span{
    color: #6CFF69;
}

#book-1{
    align-self:start;
    color:#fff;
}

#book input{
    width: 30vw;
    background: transparent;
    border: transparent;
    border-bottom: 1.5px solid white;
    color: white;
    align-self: end;
}

#book input:focus{
    text-decoration: none;
}

.book-img {
    width:30vw;
}

@media screen and (max-width:1024px){
    #book{
        gap:60px;
    }

    #book input{
        width:60vw;
    }

    .book-img {
        width:60vw;
        max-width:300px;
    }
}

/* @media screen and (max-width:550px){
    .book-img{
        max-width:100%;
        width:60vw;
    }
} */