#book{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:2vw;
    flex-wrap:wrap;
    padding:0px 12px;
    box-sizing: border-box;

}

#book .startup{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3.8rem;
}

#book span{
    color: #6CFF69;
}

#book-1{
    /* align-self:start; */
    color:#fff;
}

#book input{
    width: 30vw;
    font-size:1.2rem;
    padding-bottom:8px;
    padding-left:6px;
    box-sizing: border-box;
    letter-spacing: 0.05em;
    background: transparent;
    border: transparent;
    border-bottom: 1.5px solid white;
    color: white;
    align-self: end;
    font-family: Plus Jakarta Sans;
}

#book input:focus{
    outline:none;
    text-decoration: none;

}

#book #btn-mail{
    height:fit-content;
    width:fit-content;
    font-family: monospace;
    border-radius:9999px;
    cursor:pointer;
    border:2px solid transparent;
    font-size: 1.1rem;
    color:#6CFF69;
    padding:8px 12px;
    background-color: rgba(1, 60, 65, 0.553);
}

#book #btn-mail:hover{
    background-color: #fff;
    color:rgba(10, 57, 61, 0.553);
}

.book-img {
    width:30vw;
    /* height:500px; */
}



@media screen and (max-width:1024px){
    #book{
        gap:60px;
    }

    #book input{
        width:60vw;
    }

    .book-img {
        width:60vw;
        max-width:300px;
    }

    #vision-1 {
        /* width:100%; */
        /* min-width: 100%; */
        /* gap: 40px; */
        font-size: 1.3rem;

    }
}

@media screen and (max-width:340px){
    #book-1 #btn-mail{
        /* display: flex;
        flex-wrap:wrap;
        justify-content: flex-start;
        align-items: start; */
        /* gap:6px; */
        display: block;
        margin-top:6px;
    }
}

