#book {
    font-family: Plus Jakarta Sans;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin-left:-20%;
    flex-wrap:wrap;

    display:none;
}

#book-1 {
    padding:6px 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#book-1>h1 {
    font-size: 3.6rem;
    color: #000;
}

#book-1>h1>span {
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#book-1>a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid hsl(0, 0%, 0%);
    /* padding:6px 18px; */
    /* text-align:center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 9999px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

#book-1>a:hover {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

#book-2{
    /* display: block; */
    /* align-items:center;; */
    position: relative;
    top:-160px;
    /* margin-top:160px; */
    box-sizing: border-box;
    /* height: 500px;
    width:600px; */
    /* border:2px solid #fff; */
}

#book-2-1 { 
    /* triangle */
    top:-30px;
    left:-70px;

    position: absolute;
}

#book-2-2 {
    /* mail */
    top:300px;
    left:-200px;
    transform:scale(1.4);
    position: absolute;
}

#book-2-3 {
    /* arc */
    /* top:0px; */
    height:400px;
    position: absolute;
}

#book-2-4 {
    /* person */
    top:-70px;
    left:45px;
    height:550px;
    position: absolute;
}

@media screen and (max-width:1024px){
    #book{
        flex-direction:column;
        /* gap:50%; */
        margin-left:0%;
    }

    #book-1 > a {
        font-size:0.8rem;
        width:fit-content;
        height: fit-content;
        padding:12px;
    }

    #book-1 > h1{
        font-size:2.4rem;
        padding:4px;
    }

    /* #book-2{
        transform: scale(80%);
    } */

}