#unicorn{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background: url("../public/unicorn@2x.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    height:600px;
    margin-left:15%;
}

#unicorn > div{
    display: flex;
}

#unicorn-1{
    display:flex;
    flex-direction:column;
    gap:80px;
    justify-content:center;
    width:50%;
    min-width:600px;

    padding: 5px 8px;
    box-sizing: border-box;

    font-family: Plus Jakarta Sans;

    z-index:2
}

#unicorn-1-1  h1{
    margin:-15px 0px;
    /* color:red; */
    font-size:4rem;
    
}

#unicorn-1-2{
    font-size:1.6rem;
}



@media screen and (max-width:1024px){
    #unicorn-1{
        /* width:100%; */
        min-width: 100%;
        gap:40px;
        
    }

    #unicorn-1-2{
        font-size:1.1rem;
    }

    #unicorn-1-1  h1{
        /* color:red; */
        font-size:2.5rem;
        
    }

    #unicorn{
        background-size:100%;
        height: 400px;
        margin-left:5%;
        
    }
}